language: python
dist: bionic

# https://github.com/travis-ci/travis-ci/issues/9815#issuecomment-411073985
matrix:
  include:
    - python: 2.7
    - python: 3.5
    - python: 3.6
    - python: 3.7
    - python: 3.8

install: pip install tox-travis coverage codacy-coverage

script: tox

after_success:
  - coverage xml
  - python-codacy-coverage -r coverage.xml
