[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", extras = ["tests"], editable = true}

[dev-packages]

[requires]
python_version = "3.6"
