[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
e1839a8 = {path = ".",extras = ["tests"],editable = true}

[dev-packages]
isort = "*"
black = "*"

[scripts]
cleanup = "sh -c \"black --skip-string-normalization --line-length=80 --exclude='/(migrations)/' attachments && isort -rc attachments\""

[pipenv]
allow_prereleases = true
